###
# @bot-written
#
# WARNING AND NOTICE
# Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
# Full Software Licence as accepted by you before being granted access to this source code and other materials,
# the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
# commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
# licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
# including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
# access, download, storage, and/or use of this source code.
#
# BOT WARNING
# This file is bot-written.
# Any changes out side of "protected regions" will be lost next time the bot makes any changes.
###

# % protected region % [Customise your docker ignore rules here] off begin
# NOTE: all paths are absolute from this file location
**/.git
**/.gitattributes
**/.gitignore
**/docker-compose*

**/.project
**/.settings
**/.idea
**/.env
**/.vs
**/.vscode

**/*.log
**/*-debug.log*
**/*-error.log*

**/.classpath
**/*.jar
**/*gradle*
**/build/
**/node_modules/

**/___*/
**/.toolstarget
/serverside/src/main/resources/static/
/serverside/src/obj/
/serverside/src/bin/

/testtarget/*/obj/
/testtarget/*/bin/
**/Selenium/Tests/

**/secrets.dev.yaml
**/values.dev.yaml
README.md

# From VSCode's ignore file
# feel free to recategorise
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts

# % protected region % [Customise your docker ignore rules here] end
